/*
Diese Software ist Eigentum von Julian Winter
Alle Rechte sind vorbehalten.
Copyright 2015.
*/
/*
    Created on : Feb 16, 2015, 12:58:51 AM
    Author     : julian
*/
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -36px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 36px; /* .push must be the same height as .footer */
}
/*.body {
    height:100vh;
}*/

.displayName {
    margin: auto auto;
}

.atomicContent {
    margin:2px 5px !important;
}

.headerBackground {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(196, 196, 196);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
    background-origin: padding-box;
    background-size: auto;
}

.footerGrid {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 8px;
}